<div class="splash-screen-back">
test
</div>
<div class="splash-screen container-fluid" data-aos="flip-down" data-aos-once="true">
<div class="row">
  <div class="col-6 splash-text">
    <h1>Designer. Developer. Illustrator</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. ,</p>
  </div>
  <div class="col-6 splash-image">
    <img src="../../../assets/images/transparent-graphic.png" class="img-fluid">

  </div>
</div>
</div>
<div class="section-break-featured">
  <h1>Featured Projects</h1>
</div>
<!--- There will be an overlay div which leads users to the next area of content ---->
<section class="project-section container-fluid">
  <div>
    <div class="row">
      <div class="col-6 splash-text">
        <h1>Designer. Developer. Illustrator</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. ,</p>
      </div>
      <div class="col-6 splash-image">
        <img src="../../../assets/images/transparent-graphic.png" class="img-fluid">

      </div>
    </div>
  </div>

</section>
<div class="section-break-process">
  <h1>Process</h1>
</div>
<section class="process-section">
  <div class="container-fluid">
    <div class="row process-row">
      <div class="col-3 process-container" style="background: #EF3E23">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
      <div class="col-3 process-container" style="background: #FFFFFF">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
      <div class="col-3 process-container" style="background: aqua">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
      <div class="col-3 process-container">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
    </div>
  </div>
</section>
