<div style="height: 100vh; width: 100%; background-color:#29398B;">

</div>
<div class="splash-screen" data-aos="flip-down" data-aos-once="true">
  <div class="splash-text">
    <div class="splash-header">
      <h1>WELCOME</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="splash-image">
    <!--- Will Create background image encompassing artwork but also logo work which will pop in and display and then fade in and out and exchange --->
  </div>
</div>
<div class="section-break-featured">
  <h1>Featured Projects</h1>
</div>
<div class="section-image">
  <!--- image will go here -->
</div>
<!--- There will be an overlay div which leads users to the next area of content ---->
<section class="project-section">
  <div class="project">
    <div class="project-images">
      images go here
    </div>
    <div class="project-text">
      <h1>01<strong style="font-size: 50px;"> Project Name</strong></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
    </div>
  </div>

</section>
<div class="section-break-process">
  <h1>Process</h1>
</div>
<section class="process-section">
  <div class="container-fluid">
    <div class="row process-row">
      <div class="col-3 process-container" style="background: #EF3E23">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
      <div class="col-3 process-container" style="background: #FFFFFF">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
      <div class="col-3 process-container" style="background: aqua">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
      <div class="col-3 process-container">
        <div class="process-image">
          insert image
        </div>
        <div class="process-text">
          <h3>Text</h3>
          <p>Text</p>
        </div>
      </div>
    </div>
  </div>
</section>
