.splash-screen {
  height: 100vh;
  width: 100%;
  background: url("~src/assets/images/portfolio-bg.png");

}

.splash-screen-back {
  height: 100vh;
  width: 100%;
  background: url("~src/assets/images/portfolio-bg.png");
}

/*.splash-screen {
  height: 100vh;
  width: 100%;
  background-color: #29398B;
  margin: auto auto 50px auto;
}*/

.splash-text {
  align-self: center;
  padding-left: 5%;
}


.splash-image {
 vertical-align: middle;
padding: 5%;
}

.section-break-featured {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  height: 120px;
  padding-left: 10%;
  z-index: -1;
  background-color: #EF3E23;
}


.project-section {
  height: 100vh;
  width: 100%;
  background: white;
  margin: auto auto 50px auto;
}

.process-section {
  height: 100vh;
  width: 100%;
  background-color: yellow;
  text-align: center;
}

.section-break-process {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  height: 120px;
  padding-left: 10%;
  z-index: -2;
  background-color: #EF3E23;
}
.project-images {
  z-index: 1;
}
.project-text {
  z-index: 2;
  width: 40%;
  height: 40%;
  margin-top: 30%;
  margin-left: 40%;

}

.process-container {
  height: 300px;
  padding-top: 5rem;
}
.process-row {
  padding-top: 15rem;
}
